.cookies {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: darken(@color-grey, 20%);
  color: #fff;
  z-index: 300;
  padding: 20px;
  .inside {
    padding-right: 60px;
  }
  .close-button {
    position: absolute;
    right: 35px;
    top: 15px;
    .font-size(3);
  }
}