#main-menu {
  position: fixed;
  z-index: 230;
  right: -300px;
  top: 0;
  background-color: @color-grey;
  padding: 33px 70px 20px;
  width: 300px;
  height: 100%;
  .transform(translateX(0));
  .transition(transform 500ms, padding 500ms);
  ul {
    margin: 0;
    li {
      a {
        margin-bottom: 5px;
        padding: 5px 0;
        display: block;
        font-family: 'roboto';
        .font-size(2);
        color: #fff;
        text-transform: uppercase;
        line-height: 1.2;
        .transition(color 300ms);
        &:hover {
          color: lighten(@color-light-blue, 10%);
        }
      }
    }
  }
  #main-menu-toggle {
    background: none;
    border: none;
    outline: none;
    margin: 0;
    cursor: pointer;
    position: absolute;
    left: -55px;
    right: auto;
    top: 35px;
    z-index: 120;
    height: 30px;
    width: 30px;
    padding: 0;
    .transition(transform 500ms, top 500ms);
    span {
      display: block;
      width: 35px;
      height: 5px;
      position: absolute;
      left: 0;
      background-color: #fff;
      .transform(rotate(0deg) translate(0px, 0px));
      .box-shadow(0 0 5px 1px rgba(0,0,0,.4));
      transition: background-color 300ms, rotate 500ms, transform 500ms, opacity 200ms, box-shadow 200ms;
      -webkit-transition: background-color 300ms, rotate 500ms, -webkit-transform 500ms, opacity 200ms, box-shadow 200ms;
      -moz-transition: background-color 300ms, rotate 500ms, -moz-transform 500ms, opacity 200ms, box-shadow 200ms;
      -o-transition: background-color 300ms, rotate 500ms, -o-transform 500ms, opacity 200ms, box-shadow 200ms;
      &:nth-child(1) {
        top: 0;
      }
      &:nth-child(2) {
        top: 12px;
        .opacity(1);
        .transform(translateX(0px));
      }
      &:nth-child(3) {
        top: 24px;
      }
    }
    &:hover {
      span {
        background-color: @color-light-blue;
      }
    }
    &.active {
      .transform(translateX(300px));
      span {
        .box-shadow(0 0 0 0);
        &:nth-child(1) {
          .transform(rotate(45deg) translate(9px, 8px));
        }
        &:nth-child(2) {
          .opacity(0);
          .transform(translateX(70px));
        }
        &:nth-child(3) {
          .transform(rotate(-45deg) translate(9px, -8px));
        }
      }
    }
  }
  .lang-menu {
    position: absolute;
    top: 35px;
    left: 0;
    .transition(top 500ms);
    ul {
      li {
        a {
          display: block;
          margin: 0;
          background-color: @color-light-blue;
          padding: 13px;
          color: #fff;
          .transition(font-size 500ms, padding 500ms, color 200ms, background-color 200ms);
          &:hover {
            background-color: darken(@color-light-blue, 20%);
          }
        }
        &.active {
          a {
            background-color: darken(@color-light-blue, 20%);
          }
        }
      }
    }
  }
  &.sticky {
    padding-top: 13px;
    #main-menu-toggle {
      top: 15px;
    }
    .lang-menu {
      top: 15px;
    }
  }
  &.active {
    .transform(translateX(-300px));
    #main-menu-toggle {
      color: #fff;
    }
  }
}

@media all and (max-width: 767px) {
  #main-menu {
    padding-top: 23px;
    ul {
      li {
        a {
          .font-size(1.8);
        }
      }
    }
    #main-menu-toggle {
      top: 25px;
      left: -55px;
    }
    .lang-menu {
      top: 25px;
    }
    &.sticky {
    }
  }
}

@media all and (max-width: 400px) {
  #main-menu {
    width: 300px;
    #main-menu-toggle {
      left: -55px;
    }
  }
}

@media all and (max-height: 600px) {
  #main-menu {
    article {
      bottom: 40px;
    }
  }
}

@media all and (max-height: 500px) {
  #main-menu {
    ul {
      li {
        a {
          .font-size(1.6);
        }
      }
    }
    article {
      display: none;
    }
  }
}