.main-slider {
  position: relative;
  .slides {
    height: 500px;
    .slide {
      position: absolute;
      display: table;
      z-index: 20;
      top: 0;
      left: 0;
      width: 100%;
      height: 500px;
      background-position: center center;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      .slide-overlay {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgba(79,86,94,.4);
        z-index: 10;
      }
      .content {
        position: relative;
        z-index: 15;
        display: table-cell;
        vertical-align: middle;
        text-align: center;
        article {
          display: inline-block;
          max-width: 70%;
          h2 {
            font-family: 'robotomedium';
            text-transform: uppercase;
            .font-size(4.6);
            color: #fff;
            line-height: 1.1;
            padding-bottom: 10px;
          }
          h3 {
            font-family: 'robotomedium';
            .font-size(1.3);
            line-height: 1.2;
            color: #fff;
            text-transform: uppercase;
          }
          p {
            font-family: 'robotolight';
            .font-size(1.4);
            color: #fff;
            padding: 20px 0 30px;
            margin: 0 !important;
          }
          a {
            color: #fff;
            .font-size(1.6);
            padding: 3px 15px;
            display: inline-block;
            border-bottom: 1px solid transparent;
            .transition(border 200ms);
            i {
              .font-size(2);
              margin-left: 5px;
            }
            &:hover {
              border-bottom-color: #fff;
            }
          }
        }
      }
    }
  }
  .pager {
    position: absolute;
    bottom: 50px;
    left: 0;
    width: 100%;
    text-align: center;
    z-index: 200;
    ul {
      display: inline-block;
      li {
        display: inline-block;
        margin: 0 5px;
        span {
          background: transparent;
          display: inline-block;
          border: 1px solid #fff;
          padding: 4px;
          cursor: pointer;
          .border-radius(100%);
          em {
            display: block;
            width: 10px;
            height: 10px;
            background: transparent;
            .border-radius(100%);
            .transition(background 800ms);
          }
        }
        &:hover, &.active {
          span {
            em {
              background: #fff;
            }
          }
        }
      }
    }
  }
}


@media all and (max-width: 1199px) {
  .main-slider {
    .slides {
      .slide {
        .content {
          article {
            h2 {
              .font-size(3);
            }
            h3 {
            }
            p {
              padding: 10px 0 20px;
            }
          }
        }
      }
    }
  }
}


@media all and (max-width: 991px) {
  .main-slider {
    .slides {
      height: 400px;
      .slide {
        height: 400px;
        .content {
          article {
            h2 {
              .font-size(2.6);
            }
            h3 {
              .font-size(1.3);
            }
            p {
              padding: 10px 0px 20px;
            }
          }
        }
      }
    }
  }
}


@media all and (max-width: 767px) {
  .main-slider {
    .slides {
      .slide {
        .content {
          article {
            h2 {
              .font-size(2.4);
              text-align: center;
            }
            h3 {
              .font-size(1.6);
              text-align: center;
            }
            p {
              padding: 20px 10px;
            }
          }
        }
      }
    }
  }
}


@media all and (max-width: 479px) {
  .main-slider {
    .slides {
      .slide {
        .content {
          margin-top: 60px;
          article {
            p {
              display: none;
            }
          }
        }
      }
    }
  }
}


//animations
.main-slider {
  overflow: hidden;
  .slides {
    .slide {
      opacity: 0;
      .transition(opacity 800ms, transform 800ms);
      &.next-slide {
        .content {
          h2 {
            .transform(translateX(500px));
            .transition(transform 800ms);
          }
          h3, p, a {
            .transform(translateX(500px));
            .transition(transform 1000ms);
          }
        }
      }
      &.prev-slide {
        .content {
          h2 {
            .transform(translateX(-500px));
            .transition(transform 800ms);
          }
          h3, p, a {
            .transform(translateX(-500px));
            .transition(transform 1000ms);
          }
        }
      }
      &.active {
        opacity: 1;
        z-index: 30;
        .content {
          h2 {
            .transform(translateX(0));
            .transition(transform 800ms);
          }
          h3, p, a {
            .transform(translateX(0));
            .transition(transform 1000ms);
          }
        }
      }
    }
  }
}