.main-banner {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 360px;
  position: relative;
  /*background-attachment: fixed;*/
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

@media all and (max-width: 1199px) {
  .main-banner {
  }
}

@media all and (max-width: 991px) {
  .main-banner {
    height: 300px;
  }
}

@media all and (max-width: 767px) {
  /*.main-banner {
    .content {
      top: 40px;
      width: 300px;
      height: 300px;
      left: ~'calc(50% - 150px)';
      article {
        h2 {
          .font-size(2.8);
        }
      }
    }
  }*/
}

@media all and (max-width: 600px) {
  .main-banner {
    height: 300px;
  }
}