//google map
.map {
  height: 480px;
  position: relative;
  width: 100%;
  #gmap {
    width: 100%;
    height: 480px;
    position: absolute;
    z-index: 0;
  }
  .contactInfo {
    background: #fff;
    padding: 40px;
    position: relative;
    z-index: 5;
    top: 40px;
    h3 {
      margin-bottom: 20px;
    }
    .table {
      display: table;
      .table-row {
        display: table-row;
        .cell {
          display: table-cell;
          vertical-align: top;
          padding-bottom: 10px;
          padding-top: 10px;
          line-height: 1.4;
          a {
            color: @color-grey;
          }
          &.ico {
            text-align: right;
            padding-left: 10px;
            i {
              margin-top: -5px;
              .font-size(3);
              color: @color-light-blue;
            }
          }
        }
      }
    }
  }
}

@media all and (max-width: 991px) {
  .map .contactInfo {
    padding: 10px 20px;
    h3 {
      padding-bottom: 0;
    }
    .table .table-row .cell {
      padding-bottom: 10px;
    }
  }
}

@media all and (max-width: 479px) {
  .map .contactInfo {
    h3 {
      margin-bottom: 10px;
    }
    .table .table-row .cell {
    }
  }
}