.products {
  padding: 50px 0;
  position: relative;
  h2 {
    margin-bottom: 30px;
  }
  .product {
    h4 {
      text-align: center;
    }
    article {
      margin-bottom: 30px;
      .opacity(0);
      .transform(scale(0));
      transition: opacity 600ms, transform 600ms;
      -webkit-transition: opacity 600ms, -webkit-transform 600ms;
      -moz-transition: opacity 600ms, -moz-transform 600ms;
      -o-transition: opacity 600ms, -o-transform 600ms;
      -ms-transition: opacity 600ms, -ms-transform 600ms;
      a {
        display: block;
        color: @color-grey;
        p {
          line-height: 1.6;
        }
        .more {
          margin-top: 10px;
          display: block;
          text-align: right;
          i {
            color: @color-grey;
            .font-size(1.8);
          }
        }
        .flip {
          -webkit-perspective: 1000;
          -moz-perspective: 1000;
          -ms-perspective: 1000;
          perspective: 1000;
          -ms-transform: perspective(1000px);
          -moz-transform: perspective(1000px);
          -moz-transform-style: preserve-3d;
          -ms-transform-style: preserve-3d;
          .card {
            .transition(0.6s);
            -moz-transform: perspective(1000px);
            -webkit-transform-style: preserve-3d;
            -moz-transform-style: preserve-3d;
            -ms-transform-style: preserve-3d;
            transform-style: preserve-3d;
            position: relative;
            width: 360px;
            height: 270px;
            .front, .back {
              width: 100%;
              height: 100%;
              backface-visibility: hidden;
              position: absolute;
              top: 0;
              left: 0;
            }
            .front {
              z-index: 2;
              .transform(rotateY(0deg));
            }
            .back {
              overflow: hidden;
              padding: 15px 20px;
              background: @color-light-blue;
              .transform(rotateY(180deg));
              color: #fff;
              .font-size(1.3);
              h4 {
                display: none;
              }
            }
          }
        }
        &:hover {
          color: @color-light-blue;
          .flip {
            .card {
              .transform(rotateY(180deg));
            }
          }
        }
      }
      &.fadedIn {
        .opacity(1);
        .transform(scale(1));
      }
    }
  }
  .load-more-items {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    cursor: pointer;
    color: #fff;
    background-color: @color-light-blue;
    .transition(color 200ms, background-color 200ms);
    .center {
      display: inline-block;
      span {
        display: inline-block;
        font-family: 'roboto';
        .font-size(2);
        line-height: 42px;
      }
      i {
        .font-size(4);
        float: right;
        margin-left: 10px;
        &.spinner-icon {
          .font-size(3);
          line-height: 42px;
          display: none;
        }
      }
    }
    &:hover {
      background-color: @link-hover-color;
    }
    &.loading {
      .center {
        i {
          display: none;
          &.spinner-icon {
            display: block;
            animation: icon-spin 1s infinite linear;
            -webkit-animation: icon-spin 1s infinite linear;
            -moz-animation: icon-spin 1s infinite linear;
            -o-animation: icon-spin 1s infinite linear;
            -ms-animation: icon-spin 1s infinite linear;
          }
        }
      }
    }
  }
  .show-all {
    .font-size(2);
  }
}

@media all and (max-width: 1199px) {
  .products {
    .product {
      article {
        a {
          .flip {
            .card {
              width: 293px;
              height: 220px;
            }
          }
        }
      }
    }
  }
}

@media all and (max-width: 991px) {
  .products {
    .product {
      article {
        a {
          .flip {
            .card {
              width: auto;
              height: auto;
              margin: 10px 0 30px;
              .front, .back {
                backface-visibility: visible;
                position: static;
              }
              .front {
                z-index: 2;
                .transform(rotateY(0deg));
                img {
                  max-width: 100%;
                }
              }
              .back {
                padding: 0;
                margin-top: 10px;
                background: transparent;
                .transform(rotateY(0));
                color: @color-grey;
                .font-size(1.4);
                h4 {
                  display: block;
                }
              }
            }
          }
          h4 {
            display: none;
          }
          &:hover {
            .flip {
              .card {
                .transform(rotateY(0));
              }
            }
          }
        }
      }
    }
  }
}

@media all and (max-width: 767px) {
  .products {
    .product {
      article {
        a {
          .flip {
            .card {
              .front {
                img {
                  max-width: 100%;
                  width: auto;
                  height: auto;
                }
              }
            }
          }
        }
      }
    }
  }
}


@media all and (max-width: 639px) {
  .products {
    .product {
      article {
        a {
          .flip {
            .card {
              .front {
                img {
                  max-width: 320px;
                  width: auto;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media all and (max-width: 380px) {
  .products {
    .product {
      article {
        a {
          .flip {
            .card {
              .front {
                img {
                  max-width: 100%;
                  width: 100%;
                }
              }
            }
          }
        }
      }
    }
  }
}


/* ---------- SINGLE PRODUCT ---------- */


/* ---------- ANIMATIONS ---------- */
@-webkit-keyframes icon-spin {
  0%   { .transform(rotate(0)); }
  100% { .transform(rotate(360deg)); }
}
@-moz-keyframes icon-spin {
  0%   { .transform(rotate(0)); }
  100% { .transform(rotate(360deg)); }
}
@-o-keyframes icon-spin {
  0%   { .transform(rotate(0)); }
  100% { .transform(rotate(360deg)); }
}
@keyframes icon-spin {
  0%   { .transform(rotate(0)); }
  100% { .transform(rotate(360deg)); }
}