.services {
  background-color: @color-light-grey;
  padding: 50px 0 10px;
  h2, h3 {
    color: #fff;
    text-align: center;
  }
  h2 {
    margin-bottom: 30px;
  }
  article {
    margin-bottom: 40px;
    .opacity(0);
    .transform(scale(0));
    transition: opacity 600ms, transform 600ms;
    -webkit-transition: opacity 600ms, -webkit-transform 600ms;
    -moz-transition: opacity 600ms, -moz-transform 600ms;
    -o-transition: opacity 600ms, -o-transform 600ms;
    -ms-transition: opacity 600ms, -ms-transform 600ms;
    a {
      display: block;
      .icon {
        border: 2px solid #fff;
        text-align: center;
        width: 150px;
        height: 150px;
        margin: 0 auto 20px;
        display: block;
        padding: 0;
        position: relative;
        .border-radius(50%);
        .transition(background-color 200ms, border 200ms);
        .table {
          display: table;
          width: 100%;
          height: 100%;
          .center {
            display: table-cell;
            width: 100%;
            height: 100%;
            text-align: center;
            vertical-align: middle;
            i {
              color: #fff;
              .font-size(8);
            }
          }
        }
      }
      &:hover {
        .icon {
          background-color: @color-light-blue;
          border-color: @color-light-blue;
          i {
            -webkit-animation: icon-pulse 400ms;
            -moz-animation:    icon-pulse 400ms;
            -o-animation:      icon-pulse 400ms;
            animation:         icon-pulse 400ms;
          }
        }
        h3 {
          color: @color-light-blue;
        }
      }
    }
    &.fadedIn {
      .opacity(1);
      .transform(scale(1));
    }
  }
}


@-webkit-keyframes icon-pulse {
  0%   { .transform(scale(1)); }
  50%  { .transform(scale(1.2)); }
  100% { .transform(scale(1)); }
}
@-moz-keyframes icon-pulse {
  0%   { .transform(scale(1)); }
  50%  { .transform(scale(1.2)); }
  100% { .transform(scale(1)); }
}
@-o-keyframes icon-pulse {
  0%   { .transform(scale(1)); }
  50%  { .transform(scale(1.2)); }
  100% { .transform(scale(1)); }
}
@keyframes icon-pulse {
  0%   { .transform(scale(1)); }
  50%  { .transform(scale(1.2)); }
  100% { .transform(scale(1)); }
}