.single-page {
  padding-bottom: 40px;
  .back {
    display: inline-block;
    margin: 20px 0;
    i {
      .font-size(4);
      float: left;
      margin-right: 10px;
    }
    span {
      .font-size(2);
      line-height: 44px;
    }
  }
  .page-content {
    h1 {
      font-family: 'robotomedium';
      .font-size(3.6);
      color: @color-grey;
      padding-bottom: 10px;
    }
  }
}