.social-section {
  position: relative;
  background-color: @color-grey;
  padding: 40px 0 80px;
  > section {
    position: relative;
    z-index: 10;
    h2 {
      color: #fff;
      margin-bottom: 20px;
    }
    .box {
      text-align: center;
      h3 {
        color: #fff;
        padding-bottom: 20px;
      }
    }
  }
  .background {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    .opacity(.1);
  }
}

@media all and (max-width: 767px) {
  .social-section {
    padding: 40px 0 40px;
    > section {
      .box {
        margin-bottom: 40px;
      }
    }
  }
}