/* ---------------------- 6. BASICS ---------- */

//all
* {
    outline: none !important;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
html {
    font-family: 'OpenSans';
	font-size: 62.5%;
    height: 100%;
  body {
    color: @color-grey;
    position: relative;
    min-height: 100%;
    .opacity(0);
    .font-size(1.4);
    .transition(opacity 800ms);
    &.faded {
      .opacity(1);
    }
    &.blocked {
      overflow-y: hidden;
    }
  }
}

/*strong {
  font-family: 'montserratbold';
}*/

//links
a {
	color: @link-color;
    text-decoration: none;
    .transition(color 200ms);
    &:hover {
		color: @link-hover-color;
        text-decoration: none;
    }
    &:focus, &:active {
      text-decoration: none;
    }
}

//headers
h1, h2, h3, h4 {
	line-height: 1.3;
    font-family: 'roboto';
}

h2 {
  font-family: 'robotomedium';
  .font-size(3.6);
  padding-bottom: 10px;
}

h3 {
  font-family: 'robotomedium';
  .font-size(2.8);
  padding-bottom: 10px;
}

h4 {
  font-family: 'roboto';
  .font-size(2.2);
  padding-top: 10px;
  padding-bottom: 5px;
}

p {
  line-height: 1.4;
}

//buttons


//forms
form {
  .message {
    display: none;
  }
  .input-box {
    padding: 10px 0 20px;
    label {
      font-family: 'roboto';
      .font-size(1.8);
      padding: 0 0 10px 0;
    }
    textarea,
    input[type="text"],
    input[type="email"],
    input[type="password"] {
      width: 100%;
      padding: 8px 20px;
      font-family: 'robotolight';
      .font-size(1.6);
      color: @color-grey;
      background-color: #fff;
      border: 2px solid @color-light-grey;
      .transition(border-color 400ms, color 400ms, background-color 400ms);
      &:focus, &:active {
        background-color: @color-light-blue;
        color: #fff;
      }
      &.ok {
        border-color: @ok-color;
      }
      &.error {
        border-color: @error-color;
      }
    }
    input[type="checkbox"],
    input[type="radio"] {
      label {

      }
    }
    em.error {
      padding: 5px 20px 0;
      font-family: 'robotolight';
      .font-size(1.3);
      color: @error-color;
      display: block;
      .opacity(1);
      .transition(opacity 400ms);
      &.fadedOut {
        .opacity(0);
      }
    }
  }
}

.select2 {
  .selection {
    .select2-selection {
      background: transparent;
      border: none;
      .border-radius(0);
      .select2-selection__rendered {
        text-align: left;
        line-height: 24px;
        .font-size(1.5);
      }
      .select2-selection__clear {
        line-height: 24px;
        right: 5px;
        .font-size(2);
      }
      .select2-selection__arrow {
        height: 22px;
      }
    }
  }
}
.select2-container {
  .select2-dropdown {
    border: none;
    background: @color-medium-transparent-blue;
    .border-radius(0);
    .select2-search__field {
      border: none;
      padding: 2px 4px;
      .font-size(1.2);
    }
    .select2-results {
      ul {
        li {
          padding: 6px 10px;
          color: #fff;
          &.select2-results__option--highlighted,
          &:hover {
            background-color: @color-grey;
          }
        }
      }
    }
  }
}


//extras
.hg-img-full-width {
  @media all and (min-width: 1200px) {
    width: 100%;
  }
}

//buttons
.button {
  border: 2px solid darken(@color-grey, 10%);
  font-family: 'robotolight';
  .font-size(1.6);
  line-height: 1.4;
  color: #fff;
  padding: 8px 40px;
  text-transform: uppercase;
  display: inline-block;
  background: @color-grey;
  .transition(background 200ms, color 200ms);
  &.big {
    padding: 20px 80px;
  }
  &:hover {
    background: darken(@color-grey, 10%);
    color: #fff;
  }
  &.neutral-button {
    border-color: darken(@color-light-blue, 10%);
    background: @color-light-blue;
    color: #fff;
    &:hover {
      background: darken(@color-light-blue, 10%);
    }
  }
  &.positive-button {
    border-color: darken(@ok-color, 10%);
    background: @ok-color;
    color: #fff;
    &:hover {
      background: darken(@ok-color, 10%);
    }
  }
  &.error-button {
    border-color: darken(@error-color, 10%);
    background: @error-color;
    color: #fff;
    &:hover {
      background: darken(@error-color, 10%);
    }
  }
}

@media all and (max-width: 767px) {
  .button {
    padding: 6px 30px;
    &.big {
      padding: 12px 40px;
    }
  }
}


/* ---------- header ---------- */
header#main-header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  padding: 30px 0;
  z-index: 120;
  .transition(padding 500ms, background 500ms);
  h1 {
    float: left;
    position: relative;
    z-index: 120;
    a {
      display: block;
      img, object {
        max-width: 100%;
        max-height: 100%;
        height: 40px;
        display: block;
        .transition(height 500ms);
      }
    }
  }
  .header-main-menu {
    margin: 0;
    padding: 0;
    li {
      float: left;
      a {
        color: #fff;
        font-family: 'roboto';
        .font-size(2.2);
        display: inline-block;
        padding: 5px;
        margin: 3px 0 3px 20px;
        .transition(color 200ms, margin 500ms, font-size 500ms);
        &:hover {
          color: @color-light-blue;
        }
      }
    }
  }
  .lang-menu {
    position: relative;
    margin: 0 15px 0 20px;
    ul {
      li {
        float: left;
        a {
          display: block;
          background-color: @color-light-blue;
          .font-size(1.8);
          padding: 10px;
          color: #fff;
          .transition(font-size 500ms, padding 500ms, color 200ms, background-color 200ms);
          &:hover {
            background-color: darken(@color-light-blue, 20%);
          }
        }
        &.active {
          a {
            background-color: darken(@color-light-blue, 20%);
          }
        }
      }
    }
  }
  &.sticky {
    padding: 15px 0;
    //background-color: rgba(79,86,94,.8);
    background-color: @color-grey;
    h1 {
      a {
        img {
          height: 30px;
        }
      }
    }
    .header-main-menu {
      li {
        a {
          .font-size(1.6);
          margin: 0 0 0 20px;
          .transition(color 200ms, margin 500ms, font-size 500ms);
          &:hover {
            color: @color-light-blue;
          }
        }
      }
    }
    .lang-menu {
      ul {
        li {
          a {
            .font-size(1.4);
            padding: 7px;
          }
        }
      }
    }
  }
}

@media all and (max-width: 767px) {
  header#main-header {
    padding: 20px 0;
    h1 {
      a {
        img, object {
        }
      }
    }
    &.sticky {
      padding: 15px 0;
    }
  }
}



/* ---------- content ---------- */
.content-section {
  h2, h3 {
    text-align: center;
  }

  p {
    margin: 10px 0 15px;
    font-family: 'OpenSans';
    .font-size(1.4);
  }

  ul {
    list-style: none;
    line-height: 1.4;
    margin: 10px 0 20px;
    li {
      .font-size(1.4);
      padding: 5px 0 5px 20px;
      position: relative;
      &:before {
        content: "";
        position: absolute;
        left: 0;
        top: 8px;
        width: 8px;
        height: 12px;
        background: url('/wp-content/themes/aeroserwis/img/ico/left-arrow-ico.png') no-repeat center;
      }
    }
  }
}

@media all and (max-width: 767px) {
  .content-section {

  }
}



/* ---------- sidebar ---------- */
.sidebar {
  padding: 90px 0 40px;
  ul {
    margin-top: 10px;
    li {
      a {
        position: relative;
        font-family: 'roboto';
        .font-size(1.8);
        display: block;
        padding: 5px 0 5px 20px;
        margin: 8px 0;
        i {
          position: absolute;
          top: -2px;
          left: 0;
          .font-size(3);
        }
      }
    }
  }
}



/* ---------- footer ---------- */
footer#main-footer {
  z-index: 30;
  padding: 30px 0;
  width: 100%;
  background: rgb(25,25,25);
  position: absolute;
  bottom: 0;
  left: 0;
  .footer-nav {
    ul {
      li {
        display: inline-block;
        padding-right: 30px;
        a {
          display: inline-block;
          font-family: 'robotolight';
          .font-size(1.6);
          color: #fff;
          &:hover {
            color: @color-light-blue;
          }
        }
      }
    }
  }
}

@media all and (max-width: 767px) {
  footer#main-footer {
    padding: 20px 0;
    .footer-nav {
      ul {
        li {
          display: block;
          a {
            text-align: center;
            display: block;
            padding: 10px 0;
          }
        }
      }
    }
  }
}