/* ---------------------- 8. EXTRAS ---------- */

//placeholders
.placeholder {
  font-family: 'robotolight';
  font-style: italic;
  .font-size(1.4);
  line-height: 20px;
  color: @color-light-grey;
}
::-webkit-input-placeholder {
  font-family: 'robotolight';
  font-style: italic;
  line-height: 20px;
  .font-size(1.4);
  color: @color-light-grey;
}
:-moz-placeholder {
  font-family: 'robotolight';
  font-style: italic;
  line-height: 20px;
  .font-size(1.4);
  color: @color-light-grey;
}
::-moz-placeholder {
  font-family: 'robotolight';
  font-style: italic;
  line-height: 20px;
  .font-size(1.4);
  color: @color-light-grey;
}
:-ms-input-placeholder {
  font-family: 'robotolight';
  font-style: italic;
  line-height: 20px;
  .font-size(1.4);
  color: @color-light-grey;
}

::selection {
  background: @color-light-blue; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: @color-light-blue; /* Gecko Browsers */
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px #fff inset;
}