@charset "utf-8";
/* ---------------------- 2. FONTS ---------- */

@fontPath: '../../fonts';

@font-face {
    font-family: 'OpenSansBold';
    src: url('@{fontPath}/OpenSansBold.eot');
    src: url('@{fontPath}/OpenSansBold.eot?#iefix') format('embedded-opentype'),
         url('@{fontPath}/OpenSansBold.woff') format('woff'),
         url('@{fontPath}/OpenSansBold.ttf') format('truetype'),
         url('@{fontPath}/OpenSansBold.svg#breuer_textbold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans';
    src: url('@{fontPath}/OpenSansRegular.eot');
    src: url('@{fontPath}/OpenSansRegular.eot?#iefix') format('embedded-opentype'),
         url('@{fontPath}/OpenSansRegular.woff') format('woff'),
         url('@{fontPath}/OpenSansRegular.ttf') format('truetype'),
         url('@{fontPath}/OpenSansRegular.svg#breuer_textbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSansLight';
    src: url('@{fontPath}/OpenSansLight.eot');
    src: url('@{fontPath}/OpenSansLight.eot?#iefix') format('embedded-opentype'),
         url('@{fontPath}/OpenSansLight.woff') format('woff'),
         url('@{fontPath}/OpenSansLight.ttf') format('truetype'),
         url('@{fontPath}/OpenSansLight.svg#breuer_textbold') format('svg');
    font-weight: light;
    font-style: normal;
}



@font-face {
  font-family: 'montserratbold';
  src: url('@{fontPath}/montserrat-bold-webfont.eot');
  src: url('@{fontPath}/montserrat-bold-webfont.eot?#iefix') format('embedded-opentype'),
  url('@{fontPath}/montserrat-bold-webfont.woff2') format('woff2'),
  url('@{fontPath}/montserrat-bold-webfont.woff') format('woff'),
  url('@{fontPath}/montserrat-bold-webfont.ttf') format('truetype'),
  url('@{fontPath}/montserrat-bold-webfont.svg#montserratbold') format('svg');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'montserratregular';
  src: url('@{fontPath}/montserrat-regular-webfont.eot');
  src: url('@{fontPath}/montserrat-regular-webfont.eot?#iefix') format('embedded-opentype'),
  url('@{fontPath}/montserrat-regular-webfont.woff2') format('woff2'),
  url('@{fontPath}/montserrat-regular-webfont.woff') format('woff'),
  url('@{fontPath}/montserrat-regular-webfont.ttf') format('truetype'),
  url('@{fontPath}/montserrat-regular-webfont.svg#montserratregular') format('svg');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'robotobold';
  src: url('@{fontPath}/roboto-bold.eot');
  src: url('@{fontPath}/roboto-bold.eot?#iefix') format('embedded-opentype'),
  url('@{fontPath}/roboto-bold.woff2') format('woff2'),
  url('@{fontPath}/roboto-bold.woff') format('woff'),
  url('@{fontPath}/roboto-bold.ttf') format('truetype'),
  url('@{fontPath}/roboto-bold.svg#robotobold') format('svg');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'roboto';
  src: url('@{fontPath}/roboto-regular.eot');
  src: url('@{fontPath}/roboto-regular.eot?#iefix') format('embedded-opentype'),
  url('@{fontPath}/roboto-regular.woff2') format('woff2'),
  url('@{fontPath}/roboto-regular.woff') format('woff'),
  url('@{fontPath}/roboto-regular.ttf') format('truetype'),
  url('@{fontPath}/roboto-regular.svg#robotoregular') format('svg');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'robotolight';
  src: url('@{fontPath}/roboto-light.eot');
  src: url('@{fontPath}/roboto-light.eot?#iefix') format('embedded-opentype'),
  url('@{fontPath}/roboto-light.woff2') format('woff2'),
  url('@{fontPath}/roboto-light.woff') format('woff'),
  url('@{fontPath}/roboto-light.ttf') format('truetype'),
  url('@{fontPath}/roboto-light.svg#robotolight') format('svg');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'robotothin';
  src: url('@{fontPath}/roboto-thin.eot');
  src: url('@{fontPath}/roboto-thin.eot?#iefix') format('embedded-opentype'),
  url('@{fontPath}/roboto-thin.woff2') format('woff2'),
  url('@{fontPath}/roboto-thin.woff') format('woff'),
  url('@{fontPath}/roboto-thin.ttf') format('truetype'),
  url('@{fontPath}/roboto-thin.svg#robotothin') format('svg');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'robotomedium';
  src: url('@{fontPath}/roboto-medium.eot');
  src: url('@{fontPath}/roboto-medium.eot?#iefix') format('embedded-opentype'),
  url('@{fontPath}/roboto-medium.woff2') format('woff2'),
  url('@{fontPath}/roboto-medium.woff') format('woff'),
  url('@{fontPath}/roboto-medium.ttf') format('truetype'),
  url('@{fontPath}/roboto-medium.svg#robotomedium') format('svg');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'robotoblack';
  src: url('@{fontPath}/roboto-black.eot');
  src: url('@{fontPath}/roboto-black.eot?#iefix') format('embedded-opentype'),
  url('@{fontPath}/roboto-black.woff2') format('woff2'),
  url('@{fontPath}/roboto-black.woff') format('woff'),
  url('@{fontPath}/roboto-black.ttf') format('truetype'),
  url('@{fontPath}/roboto-black.svg#robotoblack') format('svg');
  font-weight: normal;
  font-style: normal;

}