/* ---------------------- 5. MIXINS ---------- */

//colors
@color-blue: #0051F3;
@color-light-blue: #009EFF;
@color-dark-transparent-blue: rgba(0,81,243,.6);
@color-medium-transparent-blue: rgba(0,158,255,.4);
@color-light-transparent-blue: rgba(0,158,255,.4);

@color-grey: #4F565E;
@color-medium-grey: #6f6f6f;
@color-light-grey: #b4b4b4;
@color-very-light-grey: #eceded;

@link-color: @color-light-blue;
@link-hover-color: darken(@color-light-blue, 20%);

@ok-color: #3bc603;
@error-color: #c63f3f;


//less elements
.font-size(@sizeValue) {
  @remValue: @sizeValue;
  @pxValue: (@sizeValue * 10);
  font-size: ~"@{pxValue}px"; 
  font-size: ~"@{remValue}rem";
}

.pie() {
    behavior: url(../pie/PIE.php);
}