/* ---------------------- 9. WYSIWYG ---------- */
.wysiwyg {
  h2 {
    .font-size(2.6);
    padding: 20px 0 10px;
    text-align: left;
  }
  h3 {
    .font-size(2);
    padding: 10px 0 0;
    text-align: left;
  }
  h4 {
    font-family: 'robotobold';
    .font-size(1.6);
    padding: 10px 0 0;
    text-align: left;
  }

  p {
    margin: 10px 0 15px;
    font-family: 'OpenSans';
    .font-size(1.4);
  }

  ul {
    list-style: none;
    line-height: 1.4;
    margin: 10px 0 20px;
    li {
      .font-size(1.4);
      padding: 5px 0 5px 20px;
      position: relative;
      &:before {
        content: "";
        position: absolute;
        left: 0;
        top: 8px;
        width: 8px;
        height: 12px;
        background: url('/wp-content/themes/aeroserwis/img/ico/left-arrow-ico.png') no-repeat center;
      }
    }
  }
}

@media all and (max-width: 767px) {
  h2, h3, h4 {
    text-align: left;
  }
}